<header>
  <nav>
    <div class="nav-container">
      <div class="logo">
        <a href="/">
          <img src="https://i.ibb.co/PzwgSW0n/enhanced-logo.webp" alt="logo">
          <div class="logo-txt">
            <%- navbar[0].logoText %>
          </div>
        </a>
      </div>
      <div class="navlists">
        <ul>
          <%- navbar[0].navlink1 %>
            <%- navbar[0].navlink2 %>
              <%- navbar[0].navlink3 %>
                <%- navbar[0].navlink4 %>
                  <%- navbar[0].navlink5 %>
                    <%- navbar[0].navlink6 %>
        </ul>
        <ul class="cta-list">
          <%- navbar[0].btn1 %>
          <%- navbar[0].btn2 %>
        </ul>
      </div>
      <div class="sec-right">
        <div class="mobile-hamburger">
          <i class="ri-menu-fill" id="closeIcon"></i>
        </div>
      </div>
    </div>
  </nav>
</header>

