<section class="about about-index" id="aboutIndex">
    <div class="about-container">
        <div class="about-index-heading">
            <h1 class="heading-text"><%- about[0].aboutTitle %></h1>
            <p class="heading-paragraph"><%- about[0].aboutDescription %></p>
        </div>

        <!-- Who We Are -->
        <%- about[0].indexAboutDetails %>

            <!-- Our Mission & Objectives -->
            <%- about[0].missionObjectives %>

                <!-- Vision & Mission -->
                <%- about[0].visionMission %>

                    <!-- Team Section -->
                    <%- about[0].teamMembers %>

                        <!-- Governance -->
                        <%- about[0].governance %>

                            <!-- Promise -->
                            <%- about[0].promise %>
    </div>
</section>



