<section class="legal-governance-page" id="legalGovernancePage">
    <div class="legal-governance-container ">
        <div class="page-heading">
            <h1 class="heading-text"><%- legalGovernance[0].lgTitle %></h1>
            <p class="heading-paragraph"><%- legalGovernance[0].lgDescription %>
            </p>
        </div>

        <!-- Governance Structure -->
        <%- legalGovernance[0].trustee %>

            <!-- Legal Framework -->
            <%- legalGovernance[0].framework %>

                <!-- Compliance & Transparency -->
                <%- legalGovernance[0].complines %>

                    <!-- Policies Section -->
                    <%- legalGovernance[0].policits %>

                        <!-- Financial Governance -->
                        <%- legalGovernance[0].financial %>

                            <!-- Documents Section -->
                            <%- legalGovernance[0].documents %>

                                <!-- Contact Section -->
                                <%- legalGovernance[0].contact %>
    </div>
</section>

