    <section class="mission-vision-page" id="missionVisionPage">
        <div class="mission-vision-container">
            <div class="page-heading">
                <h1 class="heading-text"><%- missionVision[0].mvTitle %></h1>
                <p class="heading-paragraph"><%- missionVision[0].mvDescription %></p>
            </div>

            <!-- Hero Section -->
            <%- missionVision[0].purpose %>

            <!-- Vision & Mission Cards -->
           <%- missionVision[0].vmcards %>

            <!-- Core Values -->
            <%- missionVision[0].values %>

            <!-- Our Approach -->
            <%- missionVision[0].approach %>

            <!-- Impact Section -->
            <%- missionVision[0].impact %>

            <!-- Call to Action -->
            <%- missionVision[0].mission %>
        </div>
    </section>      

