<section class="team-page" id="teamPage">
    <div class="team-page-container">
        <div class="team-heading">
            <h1 class="heading-text"><%- ourTeam[0].otTitle %></h1>
            <p class="heading-paragraph"><%- ourTeam[0].otDescription %></p>

        </div>

        <!-- Managing Trustee -->
        <%- ourTeam[0].founder %>

            <!-- Board of Trustees -->
            <%- ourTeam[0].trustee %>

                <!-- Team Members -->
                <%- ourTeam[0].team %>

                    <!-- Our Values -->
                    <%- ourTeam[0].principles %>

                        <!-- Call to Action -->
                        <%- ourTeam[0].mission %>
    </div>
</section>